<footer class="footer">
    <div class="row container-fluid">
        <div class="col-lg-4 left">
            <img src="../../../assets/img/logo-white.png">
            <p>&copy; 2020</p>
        </div>
        <div class="col-lg-2 left">
            <p class="title">Our Organization</p>
            <p>About Us</p>
            <p>Programs</p>
            <p>FAQs</p>
        </div>
        <div class="col-lg-2 left">
            <p class="title">Contact Us</p>
            <p>contact@manilacoding.com</p>
            <p>+63 997 450 2331</p>
            <p>Metro Manila, Philippines</p>
        </div>
        <div class="col-lg-4 right">
            <p>Folow Us</p>
            <img src="../../../assets/img/instagram.png">
            <img src="../../../assets/img/facebook.png">
        </div>
    </div>
</footer>
