<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <img class="image-bg" src="../../assets/img/header-about.png">
                <div class="header-description">
                    <p class="header title">About Us</p>
                    <p class="header description">Join us in<br>#ProgrammingTomorrow</p>
                </div>
            </div>
        </div>
        <div class="white-bg" style="padding-bottom: 50px;">
            <div class="row" style="padding: 50px 0;">
                <div class="col-12">
                    <p class="about">Manila Coding Camp works with various experts from both the industry and academe in
                        developing
                        boot camp materials for our scouts. The courses were carefuly crafted in a specific sequence and
                        aligned with academe standards, while being presented in a simple and scout-friendly approach.
                        We make sure that all boot camps are there to prepare you for the future. </p>
                    <p class="about">Our camp instructors are all equipped with the industry experience and technical
                        knowledge to deliver quality
                        education. We make sure that scouts do not just learn the theories, but apply them with
                        techniques that can only be learned through industry experience. Furthermore, each camp
                        instructor is carefully screened and trained to teach eagle rank (advanced) topics in a
                        simplified approach.</p>
                    <p class="about">At Manila Coding Camp, we believe in quality above all else. Aside from
                        delivering quality content through our industry professional camp instructors, we continuously
                        look for more ways to serve you better. We develop new boot camps and new strategies to ensure
                        that the learning never stops. Through such, we can truly make technology education available to
                        all.</p>
                </div>
            </div>
            <div class="row" style="margin-bottom: 50px">
                <div class="col-12">
                    <p class="header-title">How We Work</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-12 virtues">
                    <img src="../../assets/img/excellence.png">
                    <p class="virtues title">Excellence</p>
                    <p class="virtues description">To thrive in excellence, we make sure to offer the best resources and instill good practice. By
                        proper guidance, good habits will develop and will serve as a good foundation.</p>
                </div>
                <div class="col-lg-4 col-12 virtues">
                    <img src="../../assets/img/knowledge.png">
                    <p class="virtues title">Industry Knowledge</p>
                    <p class="virtues description">We make sure that our teachers are equipped with knowledge in the industry. There are some things
                        that only experience can teach and this will guide them for better decision making.</p>
                </div>
                <div class="col-lg-4 col-12 virtues">
                    <img src="../../assets/img/service.png">
                    <p class="virtues title">Good Service</p>
                    <p class="virtues description">Offering excellence and industry knowledge is not enough, we also make sure that we give you the
                        best service. We continuously look for more ways to serve you better.</p>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 40px;">
            <div class="col-lg-2">
                <img src="../../assets/img/footer-about.png" width="100%">
            </div>
            <div class="col-lg-10">
                <p class="footer title">Explore New Possibilities</p>
                <p class="footer description">When you set your goals, be sure to include time to try something new. Learn a new skill with us and
                    take up classes as a new form of exercise for the mind. Explore an area of interest with our course
                    catalog that you have always been curious about. Doing so keeps the mind and body fresh and creates
                    a sense of adventure.</p>
            </div>
        </div>
    </div>
</div>