<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item" style="margin-top: 80px;">
          <a class="nav-link" [routerLink]="'/about'" [routerLinkActive]="'active'">
              About Us
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="'/program'" [routerLinkActive]="'active'">
              Courses
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="'/faq'" [routerLinkActive]="'active'">
              FAQs
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="'/contact'" [routerLinkActive]="'active'">
              Contact Us
          </a>
      </li>
    </ul>
  </div>
</div>
