/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Avenir";
    src: url('assets/fonts/Avenir-Light-07.ttf');
    font-weight: 100;
    font-size: normal;
}
  
@font-face {
    font-family: "Avenir";
    src: url('assets/fonts/Avenir-Book-01.ttf');
    font-weight: 200;
    font-size: normal;
}
  
@font-face {
    font-family: "Avenir";
    src: url('assets/fonts/Avenir-Roman-12.ttf');
    font-weight: 300;
    font-size: normal;
}
  
@font-face {
    font-family: "Avenir";
    src: url('assets/fonts/Avenir-Medium-09.ttf');
    font-weight: 400;
    font-size: normal;
}
  
@font-face {
    font-family: "Avenir";
    src: url('assets/fonts/Avenir-Heavy-05.ttf');
    font-weight: 500;
    font-size: normal;
}
  
@font-face {
    font-family: "Avenir";
    src: url('assets/fonts/Avenir-Black-03.ttf');
    font-weight: 600;
    font-size: normal;
}

.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}

.image-bg {
    width: calc(100% + 220px);
    margin-left: -110px;
    margin-right: -110px;
    margin-top: -30px;
}

.white-bg {
    background-color: white;
    width: calc(100% + 220px);
    margin-left: -110px;
    margin-right: -110px;
    padding: 0 110px;
}

.header, .title, .footer {
    font-family: 'Avenir';
    color: #ffffff;
}

a {
    font-family: 'Avenir';
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #1c1c1c;
    text-transform: uppercase;
    text-decoration-line: underline;
}

a.full-width {
    width: 100%;
    text-align: center;
    display: inline-block;
}

button {
    font-family: 'Avenir';
}

.type {
    font-family: 'Avenir';
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.date {
    font-size: 12px;
    line-height: 16px;
    color: #999999;
}

.start {
    font-size: 12px;
    line-height: 16px;
    color: #999999;
}

.beginner {
  color: #37bad7;
}

.intermediate {
  color: #fbc012;
}

.advanced {
  color: #ed1651;
}

.mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}

.mat-tab-label {
    font-family: 'Avenir';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.mat-tab-label-active {
    color: #ed1651
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #ed1651;
}

.btn-blue-secondary, .btn-blue-secondary:hover, 
.btn-blue-secondary:focus  {
    color: #37bad7;
    border: 2px solid #37bad7;
    background-color: white;
    border-radius: 20px;
    font-family: 'Avenir';
    font-size: 12px;
    line-height: 16px;
    padding: 8px 11px;
    margin: 8px;
}

.btn-blue-secondary:active, .btn-blue-secondary.active  {
    color: white;
    background-color: #37bad7;
}

.transparent-modal .mat-dialog-container {
    background-color: transparent;
    box-shadow: none;
}