<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <img class="image-bg" src="../../assets/img/header-home.png">
                <div class="pull-right">
                    <p class="header title">Endless possibilities await</p>
                    <p class="header description">Start your journey with us</p>
                    <button class="btn btn-round btn-primary">Enroll Now</button>
                </div>
            </div>
        </div>
        <div class="white-bg">
            <div class="row">
                <div class="col-12">
                    <p class="course">
                        Course Offered
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-12">
                    <img src="../../assets/img/game-dev.png" style="width: 100%;">
                    <p class="course title">Game Development</p>
                    <p class="course description">Create the next Cuphead with Manila Coding Camp. Learn the basics of
                        game development using
                        Unity.</p>
                    <a href="" class="full-width">Learn More</a>
                </div>
                <div class="col-lg-4 col-12">
                    <img src="../../assets/img/web-graphic-desgin.png" style="width: 100%;">
                    <p class="course title">Web and Graphic Design</p>
                    <p class="course description">Design your own website and posters with Manila Coding Camp. Learn the
                        basics of design using
                        Adobe Photoshop.</p>
                    <a href="" class="full-width">Learn More</a>
                </div>
                <div class="col-lg-4 col-12">
                    <img src="../../assets/img/basic-programming.png" style="width: 100%;">
                    <p class="course title">Basic Programming</p>
                    <p class="course description">Unleash the software developer in you with Manila Coding Camp. Learn
                        the basics of software
                        development.</p>
                    <a href="" class="full-width">Learn More</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <button class="btn btn-round btn-secondary">View All Courses</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="../../assets/img/footer-home.png" width="100%">
            </div>
            <div class="col-lg-8 footer-description">
                <p class="footer title">Learn from the comfort of your home</p>
                <p class="footer description">Cultivate your knowledge while enjoying the benefit of taking classes in
                    your own home. Learn from
                    experienced professionals and kickstart your future.</p>
            </div>
        </div>
    </div>
</div>